---
import { cn } from "../lib/cn"
import { parseIcon } from "../lib/parse-icon"
import type { DM_Post } from "../types/data-model"

interface Props {
  icon: DM_Post["icon"]
  className?: string
}
const { icon, className } = Astro.props
const { emoji, url } = parseIcon(icon)
const noAvatar = !emoji && !url
---

<div class={cn("avatar", className, noAvatar && "hidden md:hidden")}>
  <div class="w-8 rounded-full">
    {url && <img src={url} />}
    {emoji && <span class="text-2xl">{emoji}</span>}
  </div>
</div>
